{% extends "base_generic.html" %}

{% block navbar %}
<li><a href="{% url 'user'%}"><span class="glyphicon glyphicon-user" title>YourSessions</span></a></li>   
{% endblock %}

{% block sidebar_bottom %}
<li><a href="{% url 'extractUserData' %}">Extract<span class="sub_icon glyphicon glyphicon-magnet"></span></a></li>
<li><a href="{% url 'collectDataFromDb' %}">Collect<span class="sub_icon glyphicon glyphicon-cloud-download"></span></a></li>
<li><a href="{% url 'saveDataToDb' %}">Save<span class="sub_icon glyphicon glyphicon-floppy-disk"></span></a></li>
{% endblock %}

