{% extends template_name %}

{% block help %}
<p>Fill the form below to contact us.</p>
{% endblock %}

{% block content %}
<div class="container">
    <form method="post" action="{% url 'sendEmail' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" name="name" class="form-control" id="name">
                </div>
                <div class="form-group">
                    <label for="name">Email adress:</label>
                    <input type="email" name="email" class="form-control" id="mail">
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="form-group">
                    <label for="comment">Bug description:</label>
                    <textarea class="form-control" name="comment" rows="1" size="50"></textarea>
                </div>
                <div class="form-group">
                    <label for="attachment">Add a screenshot:</label>
                    <input id="fileUpload" type="file" multiple name="attachment" >
                </div>
            </div>
        </div>
        <div class="form-group">
            <input class="btn btn-success" type="submit" value="Send">
            <input class="btn btn-danger" type="reset" value="Reset">
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
    $('#collapseHelp').collapse('show');
</script>
{% endblock %}
