{% extends template_name %}

{% block scripts_head%}
{% load static %}
<script src="{% static 'js/user.js' %}"></script>
{% endblock %}


{% block sidebar_top %}
<li><a href="#dashboard">Dashboard<span class="sub_icon glyphicon glyphicon-arrow-up"></span></a></li>
<li><a href="#visualization">Visualize<span class="sub_icon glyphicon glyphicon-stats"></span></a></li>
{% endblock %}

{% block help %}
<div>
<p>This is the home page. Here you are provided general information about the system. Extract <span class="glyphicon glyphicon-flash"></span> or get cached data <span class="glyphicon glyphicon-cloud-download"></span> and select a course to start.</p>
<a role="button" data-toggle="collapse" href="#collapseHelp" aria-expanded="false" aria-controls="collapseHelp"><b>Got it! Close the description</b></a>
</div>
{% endblock %}

{% block content %}
{% load custom_tags %}
<a class="anchor" id="dashboard"></a>
<h1>Dashboard</h1>
<section>
    <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 placeholder">
            <div class="textAboveImage">
                <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" class="img-responsive img-circle" alt="Generic placeholder thumbnail">
                {% if course %}
                <h1>{% getNumberOfUsers 'course' %}</h1>
                {% endif %}
            </div>
            <h4>Number of users</h4>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 placeholder">
            <div class="textAboveImage">
                <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" class="img-responsive img-circle" alt="Generic placeholder thumbnail">
                {% if course %}
                <h1>{% getNumberOfLessons 'course' %}</h1>
                {% endif %}
            </div>
            <h4>Number of lessons</h4>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 placeholder">
            <div class="textAboveImage">
                <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" class="img-responsive img-circle" alt="Generic placeholder thumbnail">
                {% if course %}
                <h1>{% getNumberOfSessions 'course' %}</h1>
                {% endif %}
            </div>
            <h4>Number of sessions</h4>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 placeholder">
            <div class="textAboveImage time">
                <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" class="img-responsive img-circle" alt="Generic placeholder thumbnail">
                <h1>{% getLastUpdate %}</h1>
            </div>
            <h4>Last Update</h4>
        </div>
      </div>
</section>

<section>
    <div class="row">
        <a class="anchor" id="visualization"></a>
        <h1>Course lessons visualization</h1>
        <div class="row">
          <div class="col-md-6 col-sm-6 col-lg-6 col-lg-offset-3">
            <form action="{% url 'setCourse' %}" method="post">
                {% csrf_token %}
                <div class="input-group">
                    <div class="input-group-addon">Select a course:</div>
                    <select class="form-control" name="selected_course">
                        {% getCourses as list %}
                        {% for course in list %}
                        <option>{{course}}</option>
                        {% empty %}
                        <option>No course found: try the collectData button!</option>
                        {% endfor %}
                    </select>
                    <span class="input-group-btn">
                        <button id ="sessionSubmitButton" class="btn btn-success" type="submit" >Submit</button>
                        {% if not list %}
                        <script> toggleSessionSubmit() </script>
                        {% endif %}
                    </span>
                </div>
            </form>
          </div>
        </div>
    </div>

    {%if course %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-10 col-lg-offset-1">
            <img class="img-responsive" src="{% printLessonUserCorrelationGraph %}">
        </div>
    </div>
    {% endif %}
</section>


{% endblock %}

{% block scripts %}
<script>
  $('#collapseHelp').collapse('show');
</script>
{% endblock %}
