{% extends "base_admin.html" %}

{% block scripts_head%}
{% endblock %}

{% block sidebar_top %}
<li><a href="#users">User<span class="sub_icon glyphicon glyphicon-arrow-up"></span></a></li>
<li><a href="#statistics">Statistics<span class="sub_icon glyphicon glyphicon-stats"></span></a></li>
<li><a href="#coverage">Coverage<span class="sub_icon glyphicon glyphicon-tasks"></span></a></li>
{% endblock %}

{% load custom_tags %}
{% block content %}
<section>
    <div class="row">
        <a class="anchor" id="users"></a>
        <h1>Users</h1>
        <div class="col-md-3 col-sm-3"></div>
        <form class="col-md-6 col-sm-6" action="{% url 'setCourse' %}" method="post">
            {% csrf_token %}
            <div class="input-group">
                <div class="input-group-addon">Select a course:</div>
                <select class="form-control" name="selected_course">
                    {% getCourses as list %}
                    {% for course in list %}
                    <option>{{course}}</option>
                    {% empty %}
                    <option>No course found: try the collectData button!</option>
                    {% endfor %}    
                </select>
                <span class="input-group-btn">
                    <button id ="courseSubmitButton" class="btn btn-success" type="submit" >Submit</button>
                    {% if not list %}
                    <script>toggleCourseSubmit()</script>
                    {% endif %}
                </span>
            </div>
        </form>
    </div>

    {% if course %}
    <div class="row">       
        <div class="col-md-3 col-sm-3"></div>
        <form class="col-md-6 col-sm-6" action="{% url 'setUser' %}" method="post">
            {% csrf_token %}
            <div class="input-group">
                <div class="input-group-addon">Select a user:</div>
                <select class="form-control" name="selected_user">
                    {% getUsers 'course' as list%}
                    {% for user in list %}
                    <option value="{{user}}">{{user}}</option>
                    {% empty %}
                    <option>No user found: try the collectData button!</option>
                    {% endfor %}    
                </select>
                <span class="input-group-btn">
                    <button id ="userSubmitButton" class="btn btn-success" type="submit" >Submit</button>
                    {% if not course %}
                    <script> toggleUserSubmit() </script>
                    {% endif %}
                </span>
            </div>
        </form>
    </div>
    {% endif %}

    {% if course and user %}
    <div class="row">
        <div class="col-sm-3 col-md-3"></div>
        <form class="col-md-6 col-sm-6" action="{% url 'setLesson' %}" method="post">
            {% csrf_token %}
            <div class="input-group">
                <div class="input-group-addon">Select a lesson:</div>
                <select class="form-control" name="selected_lesson">
                    {% getLessonsHeaders as list%} <!--------------- Missing-->
                    {% for lesson in list %}
                    <option>{{lesson}}</option>
                    {% empty %}
                    <option>No lesson available: try the collectData button!</option>
                    {% endfor %}
                </select>
                <span class="input-group-btn">
                    <button id ="lessonSubmitButton" class="btn btn-success" type="submit" >Submit</button>
                    {% if not user %}
                    <script>toggleLessonSubmit()</script>
                    {% endif %}
                </span>
            </div>
        </form>
    </div>
    {% endif %}
</section>

<section class="row">
    <a class="anchor" id="statistics"></a>
    <h1>Statistics</h1> 
    <h2>You have selected: {{ course }} - {{ user }} - {{ lesson }}</h2>
    {% if course %}
    {% autoescape off %}
    <div class="col-sm-6 col-md-6">
        {% printNotesBarChart 'user' %}
    </div>
    <div class="col-sm-6 col-md-6">
        {% printLessonsHistogram 'user' %}
    </div>
    {% endautoescape %}
    {% endif %}
</section>

<section class="row">
    <a class="anchor" id="coverage"></a>
    <h1>Lessons coverage</h1> 

    {% autoescape off %}
    <div class="col-sm-3 col-md-3"></div>
    <div class="col-sm-6 col-md-6">
        {% if course %}
        {% if lesson %}
        {% printLessonCoverage 'user' %}
        {% endif %}
        {% endif %}
    </div>
    {% endautoescape %}
</section>

{% endblock %}

{% block scripts_body%}
{% endblock %}